@media (max-width: 992px){
.navbar{
    gap: 10px;
}
.navbar-list{
    position: absolute;
    top: 65px;
    width: 90%;
    left: 5%;
    right: 5%;
    border: 2px solid var(--background);
    border-top: 0;
    flex-direction: column;
    background: rgb(5, 57, 78);
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    display: none;
}
.navbar-list a{
    font-size: 30px;
}
.menu-label{
    display: flex;
    cursor: pointer;
    /* order: 2; */
}
.gym{
    text-align: center;
    top: 500px;
    width: 100%;
}
.menu-label img{
    border-radius: 15px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#menu-toggle:checked + .navbar-list{
    display: flex;
}
.info__container{
max-width: 80%;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 0 100px ;
text-align: center;
}

/* #selection{
background: red;
max-width: 80%;
} */

.selection__container{
justify-content: center;

}
.pokemon{
    padding: 50px;
}

}








@media (max-width: 576px){
.gym{
    text-align: center;
    top: 500px;
    width: 100%;
}
header{
    width: 100%;
}

.header__logo{
    width: 200px;
}
#hero img{
    display: none;
}

.hero__info{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
.hero__info a{
    display: flex;
    flex-direction: column;
    padding: 10px;
    

}
main{
    width: 100%;
}
.info__container{
padding: 0 0 0 0;

}

#info h2, #selection h2, #Pokedex h2, #contactanos h2{
    text-align: center;
    font-size: 40px;
    width: 70%;
    padding: 10px;

}
.info__container--card h3{
    font-size: 35px;
    

}
.info__container--card p{
    
    font-size: 20px;
}

.info__container--card{
    padding: 20px;

}


#contactanos {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#selection h2{
    text-align: center;
}

#contactanos ul{
    font-size: 25px;

}

footer{
    width: 100%;
    align-items: center;
    justify-content: center;
}
footer img{
    display: none;
}
}